
:root {
    
    --titleBarHeight:10vh;
}

.titleBarHeight {

    height: var(--titleBarHeight);
}

.contentHeight {

    height: calc(100vh - var(--titleBarHeight));
    max-height: calc(100vh - var(--titleBarHeight));
}

.contentMargin {

    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.gap2vw {

    gap: 2vw;
}

.marginx3vw {

    margin-left: 3vw;
    margin-right: 3vw;
}

.padx4vw {

    padding-left: 4vw;
    padding-right: 4vw;
}

.ddTextPadMargin {

    margin-top: 1vh;
    padding-left: 3vw;
}

.ddImageMargin {

    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.contentPFontSize {

    font-size: 1.6vw;
}

.contentPHeaderSize {

    font-size: 1.8vw;
}

.sideBarPadding {

    padding-left: 4vw;
}

.titleAdjust {

    font-size: 3vw;
    padding-left: 2vw;
}

.resumeFont {

    font-size: 2vw;
}

.sideBarButtonFont {

    font-size: 2vw;
}

.treesContent {

    width: 75vw;
}

.treesParagraph {

    width: 40vw;
}

.rightCenterY {

    top: 50%;
    transform: translateY(-50%);
    right: 4vw;
}

.maxHeightTrans {

    transition: max-height 0.3s ease-out;
}

.sideBarAndContent {

    /*  Note to self: by default, grid columns have a minimum width of the content inside them, which can cause overflows
        to behave unexpectedly.  To avoid this, explicitly set the minimum width of the column - done here with minmax */
        
    display: grid;
    grid-template-columns: minmax(0,2fr) 8fr;
}

.sideBarButtonWidth {

    font-size: 10vw;
}