
:root {
    
    --titleBarHeight:10vh;
}

.titleBarHeight {

    height: var(--titleBarHeight);
}

.contentHeight {

    height: calc(100% - var(--titleBarHeight));
    max-height: calc(100% - var(--titleBarHeight));
}

.rightCenterY {

    top: 50%;
    transform: translateY(-50%);
    right: 12px;
}

.maxHeightTrans {

    transition: max-height 0.3s ease-out;
}

.sideBarAndContent {

    /*  Note to self: by default, grid columns have a minimum width of the content inside them, which can cause overflows
        to behave unexpectedly.  To avoid this, explicitly set the minimum width of the column - done here with minmax */
        
    display: grid;
    grid-template-columns: minmax(0,2fr) 8fr;
}