
:root {
    
    --titleBarHeight: 11%;
}

.titleBarHeight {

    height: var(--titleBarHeight);
}

.contentHeight {

    height: calc(100% - var(--titleBarHeight));
    max-height: calc(100% - var(--titleBarHeight));
}

.rightCenterY {

    top: 50%;
    transform: translateY(-50%);
    right: 12px;
}

.maxHeightTrans {

    transition: max-height 0.3s ease-out;
}

.sideBarAndContent {

    display: grid;
    grid-template-columns: minmax(0,2fr) 8fr;
}